<body>
  <div class="background">

    <div class="TitleContainer">
      <p class="Title">Customer Home - Hi {{custData.name}}!</p>
      <div></div>
      <img class="Logo" src="../../assets/blue-logo.png">
    </div>

    <div class="outerquickBox">
      <div>
        <div class="quickBoxes" style="border-color: #26B789;"></div>
        <div class="quickBoxes" style="border-color: #E48912;"></div>
        <div class="quickBoxes" style="border-color: #394FBC;"></div>
        <div class="quickBoxes" style="border-color: #E03F3F;"></div>
      </div>
    </div>

    <div>
      <div>
        <div class="whiteBoxInside" style="margin-top: 20px">
          <p class="subTitle">Files</p>
          <div class="bar" style="width:60px"></div>
        </div>
        <div class="whiteBoxInside" style="margin-top: 350px">
          <p class="subTitle">To Do</p>
          <div class="bar" style="width:70px"></div>
        </div>
      </div>
      <div class="whiteBoxOutside" style="margin-left: 780px">
        <p class="subTitle" >Recent Messages</p>
        <div class="bar" style="width:220px"></div>
      </div>
    </div>
    <p></p>
  </div>
</body>

