<div class="background">

    <div class="TitleContainer">
        <p class="Title">Customer Home</p>
        <div></div>
        <img class="Logo" src="../../assets/blue-logo.png">
    </div>

    <div class="outerquickBox">
        <div>
            <div class="quickBoxes" style="border-color: #26B789;"></div>
            <div class="quickBoxes" style="border-color: #E48912;"></div>
            <div class="quickBoxes" style="border-color: #394FBC;"></div>
            <div class="quickBoxes" style="border-color: #E03F3F;"></div>
        </div>
    </div>

    <div class="outerLayout">

        <div class="layout leftLayout">
               <div class="Header"> Documents </div> 
        </div>

        <div class=" rightLayout">
            <div class="Header" style="border-bottom: 3px solid lightgrey;"> Recent Messages </div> 
        </div>

        <div class="layout leftLayout">
            <div class="Header"> To-do </div> 
        </div> 
    </div>

</div>

