.Navigation {
   text-align: center;
   margin-top: 40px;
    p {
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;

        
    }
}

p {
    font-family: 'Source Sans Pro';
}