<div class="background">
    <div class="TitleContainer">
        <p class="Title">Customer Onboarding</p>
        <div></div>
        <img class="Logo" src="../../assets/red logo.png">
    </div>


    <div class="MainContainer">
        <div class="SubContainer" style="float: left;">
            <div class="Profile">
                <div class="circle"></div>
                <div class="form-container">
                    <label>Name:</label> <p>Donald Duck</p> <br>
                    <label>Email:</label> <p>Donald@Gmail.com</p><br>
                    <label>Loaction:</label> <p>Toronto</p><br>
                    <label>Phone:</label><p>437-246-2415</p><br>
                    <label>Join Date: </label><p>2020-11-29</p><br>
                    <label>SMS Alerts Active</label> <input type="checkbox" checked> <br>
                    <button>Save</button>
                </div>
            </div>
        </div>

        <div class="SubContainer" style="float: right;">
            <div class="LookingFor">
                <div class="Header" style="padding-left: 10px; padding-top: 5px;">Looking For...</div>
                <div class="tags">
                    <p style="background-color: purple;">Residential</p>
                    <p style="background-color: orange;">New Built</p>
                    <p style="background-color: orchid;">Rental</p>
                </div>   
                <div class="propertyForm">
                    <label>Region:</label> <input type="text"> <br>
                    <label>Building Type:</label> <input type="text"> <br>
                    <label>Bedrooms:</label> <input type="text"> <br>
                    <label>Washrooms:</label> <input type="text"> <br>
                </div>
            </div>
            <div class="Documents">
                <div class="Header">
                    <div style="padding-left: 10px; padding-top: 5px;">Documents</div>
                    <div>
                        <p style="margin-right: 70px; margin-left: 70px;">File Name</p>
                        <p style="margin-left: 70px;">Upload Date</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
